@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button, button:active, button:focus {
  outline: none;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  font-family: "Roboto Light", sans-serif;
  background: linear-gradient(90deg, #5A4BE6 0.26%, #73AFF7 47.1%, #93D0D9 99.8%);
}
.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 160px;
  height: 25px;
  margin: auto;
  vertical-align: center;
}
.header__languages {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 15.28%;
  margin: 0;
  color: white;
  line-height: 100px;
  cursor: pointer;
}
.header__languages__item {
  padding: 0 5px;
  font-size: 16px;
  letter-spacing: -0.2px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main__header {
  margin-top: 70px;
  font-family: "Core Sans G Regular";
  font-size: 32px;
  color: black;
}
.main__card-info {
  width: 66%;
  margin: 0 17%;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
}
.main__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 38%;
  margin: 49px 31%;
}
.main__form input {
  font-family: "Core Sans G Regular";
  font-size: 16px;
  padding: 20px 16px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
.main__form__card-number-label {
  font-family: "Core Sans G Bold";
  font-size: 18px;
  margin: 0 0 15px 5px;
}
.main__form__card-number {
  width: calc(100% - 33px);
  margin-bottom: 2px;
}
.main__form__inspiration-date {
  width: calc(100% - 40px);
  margin-right: 8px;
  margin-bottom: 2px;
  padding: 0 20px;
}
.main__form__cvс {
  width: calc(100% - 40px);
  margin-left: 8px;
  margin-bottom: 2px;
}
.main__form__error-message {
  visibility: hidden;
  position: relative;
  width: 100%;
  margin: 0 0 2px;
  padding: 3px 0 0;
  font-family: "Roboto Light";
  font-size: 13px;
  color: #FF8D8D;
}
.main__form__info {
  width: 100%;
  font-family: "Core Sans G Regular";
  font-size: 16px;
  color: #808080;
}
.main__form__get-card {
  align-self: center;
  width: 100%;
  padding: 20px;
  font-family: "Core Sans G Bold";
  font-size: 16px;
  color: white;
  background: linear-gradient(122.5deg, #5A4BE6 -33.07%, #73AFF7 48.35%, #93D0D9 139.94%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.main__form__get-card > .loader {
  display: none;
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  border: 2px solid #fff0;
  border-top: 2px solid #fffb;
  border-radius: 50%;
  animation: spin 2s linear 1;
}
.main__form__get-card:hover {
  opacity: 0.8;
  border-radius: 15px;
  transition-duration: 0.3s;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5px;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.selected-language {
  color: #587BC3;
  transition-duration: 0.2s;
}

input.invalid {
  color: #FF8D8D;
  border: 1px solid #FF8D8D !important;
}

input.invalid::-webkit-input-placeholder {
  color: #FF8D8D;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Core Sans G Regular";
  src: url("../fonts/CoreSansG-Regular.ttf");
}
@font-face {
  font-family: "Core Sans G Bold";
  src: url("../fonts/CoreSansG-Bold.ttf");
}
@media screen and (max-width: 1024px) {
  .header {
    height: 64px;
  }
  .header__logo {
    position: relative;
    top: 22px;
    left: 24.5px;
    width: 123px;
    height: 19px;
  }
  .header__languages {
    right: 17px;
    line-height: 64px;
  }

  .main__header {
    width: 85%;
    margin-top: 21px;
    text-align: center;
  }
  .main__card-info {
    width: 87%;
  }
  .main__form {
    width: 90%;
    margin: 4.3%;
  }
  .main__form__card-number-label {
    display: none;
  }
  .main__form__inspiration-date {
    margin-right: 2%;
  }
  .main__form__info {
    margin-bottom: 32px;
  }
  .main__form__get-card {
    font-family: "Core Sans G Regular";
    background: linear-gradient(122.5deg, #5A4BE6 -33.07%, #73AFF7 48.35%, #93D0D9 139.94%);
  }
}
/*.header {
  position: relative;

  width: 100%;
  height: 100px;

  font-family: 'Roboto Light', sans-serif;

  background: linear-gradient(90deg, #5A4BE6 0.26%, #73AFF7 47.1%, #93D0D9 99.8%);
}
.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 160px;
  height: 25px;

  margin: auto;
  vertical-align: center;
}
.header__languages {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  right: 15.28%;

  margin: 0;

  color: white;
  line-height: 100px;

  cursor: pointer;
}
.header__languages__item {
  padding: 0 5px;

  font-size: 16px;
  letter-spacing: -0.2px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.main__header {
  margin-top: 70px;

  font: {
    family: "Core Sans G Regular";
    size: 32px;
  }
  color: black;

}
.main__card-info {
  width: 66%;
  margin: 0 17%;

  border: 1px solid #E4E4E4;
  border-radius: 4px;
}
.main__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 38%;

  margin: 49px 31%;

  input {
    font: {
      family: "Core Sans G Regular";
      size: 16px;
    }

    padding: 20px 16px;

    border: 1px solid #CCCCCC;
    border-radius: 4px;
  }
}
.main__form__card-number-label {
  font: {
    family: "Core Sans G Bold";
    size: 18px;
  }

  margin: 0 0 15px 5px;
}
.main__form__card-number {
  width: calc(100% - 33px);

  margin-bottom: 20px;
}
.main__form__card-type {
  display: none;

  position: absolute;
  top: 340px;
  left: 58.5%;

  height: 25px;
}
.main__form__inspiration-date {
  width: 48%;

  margin-right: 5%;
  padding: 0 20px;
}
.main__form__cvс {
  width: 48%;
}
.main__form__error-message {
  visibility: hidden;

  position: absolute;

  width: 24%;

  margin: 0;
  padding: 3px 0 0;

  font: {
    family: "Roboto Light";
    size: 13px;
  }
  color: #FF8D8D;

  float: right;
  text-align: right;
}
.main__form__info {
  width: 100%;

  font: {
    family: "Core Sans G Regular";
    size: 16px;
  }
  color: #808080;
}
.main__form__get-card {
  align-self: center;

  width: 100%;

  padding: 20px;

  font: {
    family: "Core Sans G Bold";
    size: 16px;
  }
  color: white;

  background: linear-gradient(122.5deg, #5A4BE6 -33.07%, #73AFF7 48.35%, #93D0D9 139.94%);
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition-duration: .3s;
}
.main__form__get-card:hover {
  opacity: .8;
  border-radius: 15px;
  transition-duration: .3s;
}
.loader {
  display: none;

  position: absolute;

  width: .8em;
  height: .8em;

  border: 2px solid #fff0;
  border-top: 2px solid #fffb;
  border-radius: 50%;

  animation: spin 2s linear 1;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  margin-bottom: 10px;
}

.selected-language {
  color: #587BC3;

  transition-duration: .2s;
}
input.invalid {
  color: #FF8D8D;

  border: 1px solid #FF8D8D !important;
}
input.invalid::-webkit-input-placeholder {
  color: #FF8D8D;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Core Sans G Regular';
  src: url("../fonts/CoreSansG-Regular.ttf");
}
@font-face {
  font-family: 'Core Sans G Bold';
  src: url("../fonts/CoreSansG-Bold.ttf");
}

@media screen and (max-width: 1024px) {
  .header {
    height: 64px;
  }
  .header__logo {
    position: relative;
    top: 22px;
    left: 24.5px;

    width: 123px;
    height: 19px;
  }
  .header__languages {
    right: 17px;

    line-height: 64px;
  }

  .main__header {
    width: 85%;

    margin-top: 21px;

    text-align: center;
  }
  .main__card-info {
    width: 87%;
  }
  .main__form {
    width: 90%;

    margin: 4.3%;
  }
  .main__form__card-number-label {
    display: none;
  }
  .main__form__card-type {
    top: 210px;
    left: 82%;
  }
  .main__form__inspiration-date {
    margin-right: 2%;
  }
  .main__form__error-message {
    width: 75%;
  }
  .main__form__info {
    margin-bottom: 32px;
  }
  .main__form__get-card {
    font: {
      family: "Core Sans G Regular";
    }

    background: linear-gradient(122.5deg, #5A4BE6 -33.07%, #73AFF7 48.35%, #93D0D9 139.94%);
  }
}
@media screen and (max-width: 950px) {
  .main__form__card-type {
    top: 210px;
  }
}
@media screen and (max-width: 775px) {
  .main__form__card-type {
    top: 200px;
  }
}
@media screen and (max-width: 700px) {
  .main__form__card-type {
    top: 195px;
    left: 80%;
  }
  .main__form__error-message {
    width: 75%;
  }
}
@media screen and (max-width: 539px) {
  .main__form__card-type {
    top: 230px;
  }
}
@media screen and (max-width: 450px) {
  .main__form__card-type {
    top: 227px;
    left: 78%;
  }
}
@media screen and (max-width: 380px) {
  .main__form__card-type {
    top: 225px;
    left: 75%;
  }
}
@media screen and (max-width: 311px) {
  .main__form__card-type {
    top: 260px;
    left: 73%;
  }
}
*/

/*# sourceMappingURL=style.css.map */
